@use '../_auxil.scss';

// HEADER

header.container {
    width: calc(100% - 2rem); //Parent Size - Parent Padding;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: auxil.$layer-float;
}

nav.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    a {
        font-size: 2rem;
        @include auxil.clicky-icon;
    }

    > .logo {
        width: 4rem;
        height: 4rem;
    
        > img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            filter: drop-shadow(0 0 .25rem auxil.$color-primary);
        }
    }

    > .menu {
        display: none;
    }

    > .side {
        position: absolute;
        top: calc(4rem + 1rem + 1rem); //Image Size + Font Size + Actual Gap;
    
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    @include auxil.responsive(1) {
        .logo {
            display: none;
        }

        .menu {
            display: flex;
            cursor: pointer;
            font-size: 2.5rem;

            @include auxil.clicky-icon;
        }

        .side {
            display: none;
        }
    }
}

.searchbar-container {
    width: 75vw;
    height: 3rem;
    max-width: 500px;

    padding: 0 1rem;
    
    position: absolute;
    right: 50%;
    transform: translateX(50%);

    display: flex;
    align-items: center;
    flex: 1;

    border: 2px solid lightgrey;

    cursor: pointer;

    @include auxil.card;

    > svg {
        font-size: 1.5rem;
    }

    > input[type='search'] {
        width: 100%;
        height: 100%;

        font-size: 1.5rem;
        text-align: center;

        color: auxil.$color-text;
        background-color: transparent;
        outline: none;
        border: none;

        cursor: pointer;

        &:focus {
            cursor: text;
        }
    }

    @include auxil.responsive(1) {
        right: 0;
        transform: translateX(0);
    }
}

// FOOTER

footer.container {
    width: 100%;
    max-width: 1000px;

    padding: 1rem 2rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a { 
        color: auxil.$color-text-secondary;
        @include auxil.clicky-icon;
    }

    > .links {
        display: flex;
        gap: 1rem;
    }

    > #developer {
        color: white;
        font-size: 1.5rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            filter: brightness(66%);

            &:active {
                filter: brightness(100%);
            }
        }
    }

    @include auxil.responsive(1) {
        padding: 1rem;

        > .links {
            font-size: .8rem;
        }
    }
}

// ASIDE 

aside.container {
    width: 100%;
    height: 100%;

    padding: 1rem;

    position: fixed;
    left: 0;
    top: 0;
    
    display: none;

    font-size: 3rem;
    background-color: black;

    z-index: auxil.$layer-aside;

    > svg {
        cursor: pointer;

        @include auxil.clicky-icon;
    }

    > .links {
        height: 100%;

        margin: 0 auto;
        padding-bottom: 3rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        > a {
            margin: 1rem 0;
            display: flex;
            align-items: center;

            @include auxil.clicky-icon;
        }
    }

    @include auxil.responsive(1) {
        display: flex;
        flex-direction: column;
    }
}
